In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from scrape import ListingsData
from scrape import Scrape
from scrape import seed
from selenium_get_web import get_html
import numpy as np
from tqdm import tqdm
from multiprocess import Pool

{'phonenumber': '', 'username': 'dscnl001', 'password': '1234qwer'}

In [9]:
cat = ['horror', 'fantasy', 'romance', 'comedy', 'sciencefiction']
title_count = 50
Seed = 16

seed(Seed)

max_pool = 16

# 1. Get HTML files based on category

In [ ]:
get_html(cat)

In [10]:
raw_list =[]

#for iter in cat:
    #if any(raw_list) :
    #    raw_list.append(pool_outputs)
    
frames_list = ListingsData(cat[4], title_count)

with Pool(max_pool) as p:
    pool_outputs= list(
        tqdm(
            p.imap(Scrape,
                frames_list), total=len(frames_list)))

100%|██████████| 50/50 [00:32<00:00,  1.56it/s]

In [11]:
flat = np.array(pool_outputs[1:])

title = np.concatenate(flat[:,0])
print(len(title))
IDtulisan = np.concatenate(flat[:,1])
print(len(IDtulisan))
txt = np.concatenate(flat[:,2])
print(len(txt))
cat_arr = np.concatenate(flat[:,3])
print(len(cat_arr))

103
103
103
103

C:\Users\user\AppData\Local\Temp/ipykernel_7888/3821732996.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  flat = np.array(pool_outputs[1:])

In [12]:
df = pd.DataFrame(list(zip(title, IDtulisan, txt, cat_arr)), columns =["title", "id", "p", "category"])
df

,title,id,p,category
0,THE TIME MACHINE (Completed),117205261,He had known this area well at one point. Now ...,sciencefiction
1,Dawnhammer Origins: Dawn of the Gu...,181326011,West. The word was everywhere. Sebastian read ...,sciencefiction
2,Twenty Thousand Leagues Under the...,109975845,The dispossessed acted differently. They lacke...,sciencefiction
3,THE WAR OF THE WORLDS (Completed),117436349,Sebastian declined.,sciencefiction
4,Ascending (The Vardeshi Saga Book...,179390248,"""So you're leaving too? I can't say I blame you.""",sciencefiction
...,...,...,...,...
98,The Wavering Hawk [ENGLISH],174709054,"Sebastian felt himself becoming unhinged. ""Don...",sciencefiction
99,The Lost City Of Atlantis,8622835,Just as he came to reacquaint himself with the...,sciencefiction
100,Cognitive Deviance,120255658,The policeman typed on the keys of his compute...,sciencefiction
101,Fall of the Terran Empire - Traci...,89006,"""Lipstick? Did you ...?""",sciencefiction
102,Dark Legacy: The End of the Kai,5792868,"""Please, Mr. Veillard, be calm. I sent the let...",sciencefiction

In [13]:
df = df.replace('', np.nan)

In [14]:
df.to_csv('hasil_sciencefiction.csv')